{% extends 'base.html.twig' %}
    {% block body %}

        <h1>Witaj na stronie SurvivalVillage !</h1>

        <h2>Masz ochotę dołączyć do gry ?</h2>

        <a href="{{ path('registration') }}"><button class="btn-warning">Zarejestruj się</button> </a>


    {% endblock %}